@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: rgb(220, 218, 218);
}

body{
    margin: 0;
}

.page {
    position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
    width: 1280px;
    min-height: 1715px;
    background-color: #ffffff;
}

.page__decor--dandelions {
    background-image: url("img/Dandelions_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 60px;
    right: auto;
    left:85px;
    width: 790px;
    height: 697px;
    z-index: 1;
}

.page__title {
    position: relative;
    z-index: 2;
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    text-align: center;
    margin: 0;
    margin-bottom: 110px;
    padding-top: 220px;
}

.buttons {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    padding: 0;
}

#change-card-color-btn,
#change-allcard-color-btn,
#open-google-btn,
#output-console-log-btn,
#change-button-color-btn {
    width: 200px;
    color: #515076;
    font-size: 13px;
    font-weight: 900;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.356);
    transition: color 0.15s, background-color 0.15s;
    background-color: #F7F7FA;
}

#change-card-color-btn:hover,
#change-allcard-color-btn:hover,
#open-google-btn:hover,
#output-console-log-btn:hover,
#change-button-color-btn:hover {
    background-color: #515076;
    color: #F7F7FA;
}

#change-card-color-btn:active,
#change-allcard-color-btn:active,
#open-google-btn:active,
#output-console-log-btn:active,
#change-button-color-btn:active {
    transform: scale(0.90);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 10);
    background-color: #6161be;
}

#change-button-color-btn.btn-active {
    background-color: #f6039d6a;
    color: #ffffff;
}

.product-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    margin-bottom:45px;
    width:1110px;
    min-height: 1191px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
}

.product-list__item {
    position: relative;
    padding: 25px;
    list-style: none;
    width: 340px;
    min-height: 573px;
    background-color: #F7F7FA;
    z-index: 2;
}

.product-list__image {
    width: 100%;
    height: auto;
}

.product-list__skin-type {
    font-size: 12px;
    line-height: 24px;
    display: block;
    color: #A5A3B9;
    padding-top: 30px;
    text-transform: uppercase;
}

.product-list__title {
    margin-top: 5px;
}

.product-list__description {
    margin-top: 5px;
}

.product-list__ingredients {
    margin-top: 15px;
}

.product-list__ingredients-list {
    padding-left: 20px;
    margin-left: 0;
    list-style-position: outside;
}

.product-list__ingredients-item::marker {
    font-size: 1.5em;
}

.product-list__price {
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
