@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(220, 218, 218);
}

body {
    position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color:#515076;
    width: 1280px;
    background-color: #ffffff;
}

.decor-dandelions {
    background-image: url("img/Dandelions.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 60px;
    right: auto;
    left: 85px;
    width: 790px;
    height: 697px;
    z-index: 1;
}

.title {
    position: relative;
    z-index: 2;
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    text-align: center;
    margin: 0;
    padding-bottom: 110px;
    padding-top: 220px;
}

.list-products {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 1112px;
    border: none;
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
    justify-content: center;
}

.list-products > li > h2 {
    margin-top: 5px;
}

.list-products li h2 + p {
    margin-top: 5px;
}

.product-ingredients {
    margin-top: 15px;
}

.product-ingredients ul {
    padding-left: 15px;
    margin-left: 0;
    list-style-position: outside;
}

.product-ingredients ul li::marker {
    font-size: 1.5em;
}

.list-products > li {
    position: relative;
    border: none;
    padding: 25px;
    list-style: none;
    width: 340px;
    height: 573px;
    background-color: #F7F7FA;
    z-index: 2;
}

.list-products img {
    width: 100%;
}

.skin-type {
    font-size: 12px;
    line-height: 24px;
    display: block;
    color:#A5A3B9;
    padding-top: 30px;
    text-transform: uppercase;
}

.product-price {
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}